# downloaded files
node_modules
# built files
bin
obj
dist
results
# temp files
.DS_Store
*.tmp
*.log
# user-specific files
.vs
*.user
*.suo
local.settings.json
package-lock.json
pg-data
redis-data
# secrets
.env
